## Test Case: {{ id | strip }}

**Requirement**: {{ requirement | strip }}

**Item**: {{ item }}

**Sanitized Test ID**: {{ id | replace_regex(old="[^a-zA-Z0-9_]", new="_") }}

## Description

{{ description | strip }}


## General Initial Conditions

| **Entity** | **Description of the general initial condition** |
| ------------- | --------- |
{% for k,v in initial_conditions -%}
| {{ k }} | {{ v }} |
{%- endfor %}

{% for ts in test_sequences %}
## Test Sequence {{ ts.id }} {{ ts.name | strip }}

{{ ts.description | strip }}

| **Step Number** | **Action** | **Expected Result** | **Expected Output** |
| --------------- | ---------- | ------------------- | --------------------|
{% for step in ts.steps -%}
| {{ step.step }} | {{ step.description | replace(old="MTD_", new="") | strip }} | {{ step.expected.result | strip }} | {{ step.expected.output | strip }} |
{% endfor %}
{% endfor %}
